doctype html
html
	head
		title PIXI Tests
		link(rel='stylesheet', href='/stylesheets/main.css')
	body(onload="init();")
		canvas#game-canvas(width="480", height="480")
		script(src="javascripts/pixi.js")
		script(src="javascripts/main.js")